*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
/*css logo*/
.logo{
    text-align: center;
}
.logo > img{
    border-radius: 50%;
    margin-top: 61px;
    vertical-align: middle;
}
.logo >ul{
    margin-top: 34px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo >ul>li{
    min-width: 128px;
    background: #d8d8d8;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 24px;
    border-radius:10px;
}


/*css summary*/
.two{
   
}
.two .banner{
    max-width:800px;
    margin:0 auto;
    position:relative;
}
.two .banner .window{
    overflow:hidden;
}
.two .banner .window .slides{
    display: flex;
    transition: transform linear .8s;
}
.two .banner .window .slides li{
    width:100%;
    flex-shrink:0;
    padding-top:61.8%;
}
.two .banner .window .slides li:first-child{
    background: transparent url("https://i.loli.net/2017/08/07/598822343d46a.jpg") no-repeat center;
    background-size:cover;
}
.two .banner .window .slides li:nth-child(2){
    background: transparent url("https://i.loli.net/2017/08/07/59882246aed47.jpg") no-repeat center;
    background-size:cover;
}
.two .banner .window .slides li:nth-child(3){
    background: transparent url("https://i.loli.net/2017/08/07/5988225494cd8.jpg") no-repeat center;
    background-size:cover;
}
.two .banner .window .slides li:last-child{
    background: transparent url("https://i.loli.net/2017/08/07/5988226124bc7.jpg") no-repeat center;
    background-size:cover;
}
.banner .controls{
    display: flex;
    position:absolute;
    bottom:2%;
    left:50%;
    transform:translateX(-50%);
    width:20%;
    justify-content:space-between;
}
.banner .controls li{
    min-width:23px;
    text-align:center;
    border-radius:50%;
    background:black;
    color:white;
}
.banner .controls li.active{
    background:red;
}
/*css introduce*/
.introduce{}
.introduce >ol{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.introduce li{
    min-width: 288px;
    margin: 0 auto;
}
.introduce li > img{
    width: 288px;
    height: 181px;
    border-radius:4px;
    margin-top: 32px;
    border: 1px solid;
    vertical-align: top;
    background:#d8d8d8;
}
.introduce li >h3{
    background:#bcbcbc;
    border-radius:4px;
    max-width:204px;
    line-height:24px;
    margin-top: 20px;
}
.introduce li >p{
    background:#ececec;
    border-radius:4px;
    margin-top: 14px;
}

@media (min-width: 960px){
    .introduce >ol{
        justify-content: center;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px) {
    .one >.logo >ul{
        margin-top: 41px;
        padding-bottom: 11px;
    }
    .two .hidden{
        display: none;
    }
    .two .content{
        margin-top: 35px;
        padding-bottom: 102px;
    }
    .two .content >p{
        min-width: 536px;
    }
    .two .content >.first::after{
        content: '继承艾斯的意志。';
    }
    .two .content >.second::after{
        content: '成为海上最自由的人。';
    }
    .two .show{
        min-width: 376px;
    }
    .two .show::after{
        content: '蒙奇·D·路飞';
    }
}
@media (min-width: 320px) and (max-width: 639px){
    body{
        min-width: 320px;
    }
}
/*button*/
.button-wrapper{
    text-align:center;
    margin:20px auto;
}
.button {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none;
}
.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}